# Binaries
alpaca-broker
alpaca-trader
alpaca-cli

# IDE / OS
.DS_Store
.idea/
.vscode/

# Configs
.env
*.yaml
*.json
coverage.out

# CI Configuration Exceptions
!.goreleaser.yaml
!.github/
# Added by goreleaser init:
dist/
